
.idea/*

__pycache__/*

catboost_info/*

references/*
results/*
internal/*

models/*
peft_load/*
experiments/*
assets/*
tmps/*

wandb/*

tmp/*
/datasets/
src/eval_chatgpt/*

*.log

*.wav
*.mp3

*.pkl



# *.png

# *.jpg
*.xlsx
*.csv
*.whl

catboost_info


